/*Colors*/
/*Gradients*/
/*Fonts*/
/*lengthes*/
.theorem {
  background-color: #dbffff;
  border-left: 4px solid #66ffff; }
  .theorem .title {
    background-color: #b3ffff; }

.note {
  background-color: #fffedb;
  border-left: 4px solid #fffa66; }
  .note .title {
    background-color: #fffcb3; }

.example {
  background-color: #dbffdc;
  border-left: 4px solid #66ff6b; }
  .example .title {
    background-color: #b3ffb5; }

.stratigy {
  background-color: #ffeadb;
  border-left: 4px solid #ffa666; }
  .stratigy .title {
    background-color: #ffd2b3; }

.rule {
  background-color: #ffdbdc;
  border-left: 4px solid #ff666b; }
  .rule .title {
    background-color: #ffb3b5; }

.further {
  background-color: #f2dbff;
  border-left: 4px solid #c766ff; }
  .further .title {
    background-color: #e3b3ff; }

.MathJax:not([display]) {
  white-space: pre-wrap;
  overflow-wrap: break-word; }

.MathJax {
  overflow-x: auto;
  overflow-y: hidden; }

.math-table-container {
  overflow-x: auto; }

.math-table {
  border-collapse: collapse;
  margin: 1.5rem auto;
  font: var(--content-bold-font);
  min-width: 400px;
  box-shadow: 0 0 var(--border-radius) rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius); }
  .math-table .MathJax {
    display: inline-block;
    background-color: transparent;
    overflow-x: hidden; }
  .math-table thead tr {
    background-color: #009879;
    color: white;
    text-align: left; }
  .math-table th, .math-table td {
    padding: 0.5rem 1rem; }
  .math-table tbody tr {
    border-bottom: 1px solid #dddddd; }
  .math-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879; }

.left-aligned-math mjx-container[jax="CHTML"][display="true"] {
  text-align: left; }
